/CompositeFirst.iml
/pom.xml
/target/
/.idea/
/*.iml
/logs/logs/archive/
/temp/
/src/main/java/by/borisov/compositechain/parser/ParserDemo.java
/src/main/java/by/borisov/compositechain/entity/CompositeDemo.java
/logs/archive/
/src/main/java/by/borisov/compositechain/Demo.java
/logs/textcomposite.log
